<div class="position-fixed"
    style="width: 100%; height: 100%; padding: 0 10%; display: grid; align-items: center; justify-self: center;">
    <div class="row">
        <div class="col-12 text-center">
            <span style="font-size: 3.5em; font-weight: bold; color: bisque;">SMD-QUE</span>
        </div>
        <div class="col-12 mt-3">
            <input class="form-control text-center" type="text" style="font-size: 1.5em; font-weight: bold;" placeholder="Username">
        </div>
        <div class="col-12 mt-3">
            <input class="form-control text-center" type="text" style="font-size: 1.5em; font-weight: bold;" placeholder="Password">
        </div>
        <div class="col-12 mt-3">
            <select class="form-select text-center" aria-label=".form-select-lg example" style="font-size: 1.5em; font-weight: bold;">
                <option selected>เลือกสเตชั่น</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-12 mt-3 text-center">
            <button type="button" class="btn btn-primary btn-lg form-control" (click)="check()">LOGIN</button>
        </div>
        <!-- <input id="name" [(ngModel)]="name" placeholder="name">
        <p>{{name}} {{name.length}}</p> -->
    </div>
</div>